[2010-05-20 16:57] tyru opened #1 "メモから"
CommentAnyWay.vimのダメなところ
===========================

* 下手にオブジェクト指向なソースなので、多分とってもメモリを食う
  コメントを付けるだけのプラグインに大量のメモリを食われるのは馬鹿げている
* 数年前に書いたので、自分自身にとってもソースコードがブラックボックスになっている
* マルチラインコメントがバグだらけ
* 定義がfiletypeに分かれておらず、プラグイン中にハードコードされている

CommentAnyWay.vimの素晴らしいところ
===========================

* 設定の柔軟性
* ワンラインコメントの時、自動的にインサートモードに入る機能
* s:RegisterOptions()
* Vim自身のコメントのオプションをパースして、
  ユーザによってセットされていなくて、
  C

[2010-10-09 13:00] tyru opened #2 "Smarter 'gcc' mapping (like Emacs "comment-dwim")"
Currently `gcc` (by default, if `<Plug>(caw:prefix)` is not mapped by user)
is mapped to `<Plug>(caw:hatpos:toggle)`.
https://github.com/tyru/caw.vim/blob/037fb8d67dcdbdb1ecc9765856dcc6718ae332e9/plugin/caw.vim#L139

But I want `gcc` mapping to be smarter: Detect which comment action should current comment under cursor be handled by (except `jump` and `input`):
- hatpos
- zeropos
- dollarpos
- wra

[2010-10-09 13:02] tyru opened #3 "Delegate "action" to each filetype (ftplugin)"
Not prepare some fixed action.
caw.vim becomes more flexible.

[2011-02-24 17:45] tyru opened #5 "Align dollarpos comments after 'comment' action for multiple lines"
Align dollarpos comments after executing `<Plug>(caw:dollarpos:comment)` for multiple lines.
## Tasks
- [ ] Add `g:caw_dollarpos_align`
- [ ] Write help for `g:caw_dollarpos_align`

[2011-02-24 17:48] tyru opened #6 "tabの場合の処理"
「&lt;Tab&gt;foo」という行があったとしたら、
「# &lt;Tab&gt;foo」ではなく「#&lt;Tab&gt;foo」になってほしい
(`g:caw_sp_i`を無視してほしい)

[2011-04-18 14:35] tyru opened #7 "空行を含むコメント行の範囲をtoggleするとさらにコメントアウトされる"
http://twitter.com/thinca/status/59298483198361601

http://twitter.com/tyru/status/59299252869939200

http://twitter.com/thinca/status/59299553660243968

[2011-05-14 16:13] tyru opened #8 "1行ごとにコメントアウトされているか確認するために重い"

[2011-05-17 16:49] tyru opened #9 "vim-ft-vim_fold.vimと併用するとgccでのコメントアウトがすごく重い"
[vim-ft-vim_fold](https://github.com/thinca/vim-ft-vim_fold)と関係あるのかは不明。
thincaさんと自分の環境で再現。

[2011-09-08 05:29] h1mesuke opened #10 "Python で gco, gcO を使うとエラー"
Python のスクリプトを編集中、gco を使うと以下のようなエラーが出ました。

<pre><code>[Vim(let):E121: Undefined variable: dummy]::[function caw#keymapping_stub..<SNR>98_caw_jump_comment_
next..<SNR>98_caw_jump_comment..<SNR>98_get_indent..<SNR>98_get_indent_num..GetPythonIndent..<SNR>75
_SearchParensPair, line 11]
</code></pre>

手元にあるファイルをいくつか試してみましたが、バッファの初めの方の位置で使う分には大丈夫なのですが、
ある地点からこのエラーが出るようになり、以後、バッファの末尾まで、gco を使うと必ずこのエラーが出

[2011-09-09 11:58] #10 closed, assigned to nobody

[2011-09-15 05:13] #7 closed, assigned to nobody

[2011-11-11 13:38] thinca opened #14 "コメントとコードが混じった範囲をトグルした場合の挙動が不自然"
例えば以下のようなコードがあった場合、

[code]

この範囲をトグルすると以下のようになります。

[code]

この挙動は明らかに不便なので混じっている場合は一括でコメントアウトした方がいいかと思うのですが、どうでしょう。

[2011-11-11 15:19] #14 closed, assigned to nobody

[2011-12-21 21:13] h1mesuke opened #15 "gco and gcO don't work."
最新（master）の caw で、gco/gcO が使えなくなっていることに気付きました。

調べてみたところ、caw#keymapping_stub() において、s:caw.jump に comment_database が設定されていないために action が call() されないようになっています。

[2011-12-23 01:01] #15 closed, assigned to nobody

[2012-10-14 11:51] tyru opened #17 "uncomment action should uncomment multiple comment strings in bulk"
On `filetype=lisp`

## current
`;; (print 'hi)` -> `<Plug>(caw:i:toggle)` -> `; (print 'hi)` -> `<Plug>(caw:i:toggle)` -> `(print 'hi)`

## expected
`;; (print 'hi)` -> `<Plug>(caw:i:toggle)` -> `(print 'hi)`

[2013-05-11 16:19] thinca opened #18 "repeat.vim support"
`.` でコメントアウト操作を繰り返したいです。

[2013-05-13 05:46] thinca opened #19 "複数行のtoggleでコメントアウト時に末尾に空白が付く"
filetype=zsh で確認。

[code]

こんなテキストがあった場合に、この範囲を toggle すると、

[code]

こうなります(_ は空白)。
もう一度 toggle すると末尾の空白も消えて元に戻ります。

[2013-07-06 15:49] thinca opened #20 "Operatorが欲しい"
コメントアウトやコメントトグルする operator が欲しいです！

[2014-07-10 13:18] #19 closed, assigned to nobody

[2014-12-23 23:52] LCreator opened #24 "haskellで動作しません"
caw.vim/autoload/caw.vim
368行目に以下の様にhaskellは'--'でコメントアウトする、と追加すると
haskellで動くようになりました。

autoload/caw.vim-    \   'h': '//',
autoload/caw.vim:    \   'haskell': '--',
autoload/caw.vim-    \   'haml': '-#',

[2015-04-18 06:04] tyru commented on #24
対応しました。
報告ありがとうございます。

[2015-04-18 06:04] #24 closed

[2015-04-19 01:43] blindFS opened #25 "White space after uncomment."
After uncommenting a block containing empty lines, white spaces will occur.

[2015-06-24 01:27] bounceme opened #26 "Can't uncomment a wrapped portion of a line"
The plugin can wrap some of a line from visual mode but can't uncomment it.

[2015-06-26 13:19] tyru commented on #25
Please give me more details.

[2015-06-26 13:19] tyru commented on #26
Please give me more details.

[2015-06-26 21:38] bounceme commented on #26
When you make a wrapped comment using a visual selection that isn't a full line,or is several lines where there is some unincluded text at either end,you can't unwrap that comment it seems. I've tried with both the gcuw and the gcuu maps in both visual and normal modes.

[2015-07-06 15:30] lesguillemets opened #27 "Haskell should come After haml"
I just noticed a very tiny thing:  in [`autoload/caw.vim`](https://github.com/tyru/caw.vim/blob/master/autoload/caw.vim#L368), there is

[code]

but ha-M lies before ha-S, so the proper order is `haml` then `haskell`.

[2015-07-07 12:28] #27 closed

[2015-07-07 12:28] tyru commented on #27
Thanks!

[2015-07-07 12:32] tyru commented on #20
マージしたい。

- [caw.vim 用のオペレータマッピング](http://rhysd.hatenablog.com/entry/2013/08/25/035533) by @rhysd
- [operator-exec_command で caw.vim の operator を定義する](http://d.hatena.ne.jp/osyo-manga/20140602/1401720298) @osyo-manga

[2015-07-08 13:05] tyru commented on #20
と、思ったけど、そもそもcaw.vimのoperatorってどんな機能が欲しいんでしょう？ @thinca @osyo-manga
単にヴィジュアル選択して`gcc`マッピングを実行するようなやつですか？

[2015-12-23 14:24] tyru commented on #2
Update title and body.

Before: More intelligent comment action
After: 'gcc' Mapping: Detect `<Plug>(caw:a:...)` comment

[2016-01-16 15:58] thinca commented on #20
だいたいそんな感じですが、ビジュアル選択だと `.` リピートができないので、できるやつだと嬉しいです。

[2016-02-24 07:08] tyru opened #31 "Move comment string definitions to ftplugin plugins"
## Target

* `s:comments.oneline.get_comment_builtin()`
* `s:comments.wrap_oneline.get_comment_builtin()`
* `s:comments.wrap_multiline.get_comment_builtin()`

[2016-03-13 10:51] tyru opened #32 "Separate each object to each file"
Current *chaotic objects in one script file (`autoload/caw.vim`) style* is horrible and difficult to add new features / fix bugs.

## Target

* `s:comments`
* `s:caw.xxx`

[2016-03-18 15:50] tyru opened #37 "Error "Can't open i.vim" on MS Windows (and maybe Mac OS X)"
**This problem should be fixed in HEAD. keeping this issue open for announce purpose.**

---------

I mistakenly `git-commit`-ed both `i.vim` and `I.vim`.
This results in the following error on filesystems that ignores filename cases like NTFS, HFS+:

[code]

If you see a message like above, please get a caw.vim source code from this repository again.

[code]

[2016-03-18 15:50] tyru commented on #37
(Will close this issue 1 month later ago)

[2016-03-18 15:57] #32 closed

[2016-03-18 15:58] #31 closed

[2016-03-18 16:00] tyru commented on #9
自分は `syntax/vim.vim` の `g:vimsyn_folding` を使っているのでもう既に vim-ft-vim_fold は使っていない (おそらく @thinca さんも？)。
需要がなくなったと思われるので本件はクローズする。

[code]

[2016-03-18 16:00] #9 closed

[2016-03-18 16:02] tyru commented on #8
再現コードがないので再現できないためクローズ。

[2016-03-18 16:02] #8 closed

[2016-03-18 16:21] tyru commented on #3
![default](https://cloud.githubusercontent.com/assets/48169/13884346/e72bc9f6-ed70-11e5-8b64-69ae471c359e.gif)

[2016-03-18 16:21] #3 closed

[2016-03-18 16:26] tyru opened #39 "Move comment string to various positions"
Toggle a position of comment string in previous line, next line, after current line.

After current line:
[code]

Previous line:
[code]

Next line:
[code]

[2016-03-18 16:27] tyru commented on #39
via #1

[2016-03-18 16:30] tyru commented on #1
分けた

[2016-03-18 16:30] #1 closed

[2016-03-18 16:34] tyru commented on #25
ping @blindFS
(Will close this issue next weekend if you do not reply)

[2016-03-18 16:39] tyru commented on #25
@blindFS I can't reproduce in `filetype=vim`.
What filetype did you use? (if you remember)

`gcc` or `gcui` on the following line will remove both a comment and a whitespace.

[code]

[2016-03-18 16:44] tyru commented on #26
@bounceme I can't reproduce this.
Please tell me the followings.

1. `&filetype` while making a wrapped comment
1. example source code
1. steps to reproduce

[2016-03-18 16:44] tyru commented on #26
And sorry for delay to reply... ;(

[2016-03-18 16:45] tyru commented on #25
Sorry for delay to reply... ;(

[2016-03-18 16:53] tyru commented on #26
I tried to reproduce in `filetype=c`.

### Code

[code]

### Steps to reproduce

1. Select above 2 lines using `V` command.
1. Type `gcuw`

Above steps change current buffer like below

[code]

[2016-03-18 16:54] tyru commented on #26
Hm, what keymapping do you mean?
caw.vim doesn't provide such default keymapping.

[2016-03-18 17:54] bounceme commented on #26
Hey, thanks for getting to this issue. you can use visual mode to select just the word "hello", then press "gcw" which comments out the selected word. The issue is that using any keycap from this plugin won't uncomment that word in the middle of the line.I don't really find this to be a very important problem though

[2016-03-18 19:21] tyru commented on #8
おそらく関連：#9

[2016-03-19 22:27] tyru opened #41 "<Plug>(caw:input:comment) isn't useful"
## Plan

~~The next release: deprecate it
The next*2 release: remove it~~

The next release: remove it

[2016-03-19 22:28] tyru opened #42 "Upload to vim.org"
I need to write a big changelog...

[2016-03-20 00:46] tyru commented on #26
Okay, now I understand.
I will implement `gcuw` in a wrapped portion of a line.

### gcw (comment) *currently working*

`[...]` is selected range.

[code]

to

[code]

### gcuw (uncomment) *currently not working*

In wrap comment and while normal-mode:

[code]

to

[code]

[2016-03-20 00:50] tyru opened #43 "Can't comment/uncomment a tildepos portion of a line"
ref #26

Currently tildepos keymappings are linewise.
They should work also characterwise-ly.

## gci (comment)

I think this should be controllable by global variable.
Because some users don't like this behavior.
(however it should be enabled by default)

`[...]` is selected range.

[code]

to

[code]

However, a right selection position is not important.
caw.vim sees only a left selection positi

[2016-03-20 07:59] tyru opened #44 "Generate ftplugin file if current filetype isn't supported"
1. If any mapping is executed but current filetype isn't supported, generate a ftplugin file or set buffer-local variables.
   - `b:caw_oneline_comment`
   - `b:caw_wrap_oneline_comment`
   - `b:caw_wrap_multiline_comment`
2. If a user doesn't want to generate it, caw.vim should temporarily disable a prompt.

[2016-03-20 13:21] tyru opened #45 "See vim nightly build not +kaoriya version"
https://github.com/thinca/vim-themis/issues/31

[2016-03-22 10:57] machakann opened #46 "バッファを閉じた(:q)ときに E108"
すいません、確かな再現方法がいまいちわかっていないのですが、最近からバッファを閉じたときに次のようなエラーがでる時があります。

`<SNR>23` が指すのは `$VIMRUNTIME/ftplugin.vim` で、 `s:LoadFTPlugin()` の冒頭は
[code]
なので、 `b:undo_ftplugin` の内容に関係しそうです。help を引いてそのウィンドウを閉じたときに多いような気がします。

[2016-03-22 14:58] tyru commented on #46
@machakann dein.vim 使ってますか？であればおそらく dein 側の問題です。
http://lingr.com/room/vim/archives/2016/03/22#message-23152069

[2016-03-22 16:12] tyru commented on #46
dein 側の問題であることを確認したら閉じます。

[2016-03-22 16:14] machakann commented on #46
dein.vim は使っていません、neobundle.vim を使っています。こちらも同様でしょうか？

[2016-03-22 16:17] tyru commented on #46
neobundle ユーザからの報告は初めてですが、おそらく同じ問題が起きます。
https://github.com/Shougo/neobundle.vim/blob/d4e76e8230f73949534920c52b4b9d85763ba11f/autoload/neobundle/config.vim#L731-L732

[2016-03-22 16:30] machakann commented on #46
ありがとうございます。該当行が `:set filetype=xxx` 相当になって同様のオートコマンドイベントが登録されているということでしょうか。たしかに、それかもしれません。閉じるタイミングはお任せします。

[2016-03-23 04:55] machakann commented on #46
すいません、ヘルプの件は関係ないことに気が付きました。どうもマークダウンを編集中に再現します。オートコマンドも関係ないですね。

起きる場合は `b:undo_ftplugin` の内容が
[code]
のように `unlet b:caw_wrap_oneline_comment` が重複していました。ファイルタイププラグインが再読み込みされるのはあり得ることのように思えるので、`:help write-filetype-plugin` にあるように重複を防止するのはいかがでしょうか？
[code]
`b:did_ftplugin` ではなく独自の名前にする必要はあるかもしれませんが。何か勘違いがあるかもしれませんので、その場合は教えてください。

[2016-03-23 11:59] machakann commented on #46
再現方法が分かりました。プラグインマネージャの問題でもないように思います。

1. 適当なマークダウンファイル `foo.md` を作る (`touch foo.md`)
2. `vim -u NONE -N`
3. `:filetype plugin on`
4. `:set rtp+=/path/to/caw.vim,/path/to/caw.vim/after`
5. `:edit foo.md`
6. `:edit`

6 でバッファを開きなおすとタイトルのエラーが出ます。

5 を `:15verbose edit foo.md` に置き換えて出力を眺めていたところ、マークダウンのファイルタイププラグインが html のファイルタイププラグインを読み込むために問題が起こっていることに気が付きました。このために `after/html/caw.vim` と `after/markd

[2016-03-23 14:12] tyru commented on #46
ありがとうございます。[Lingr でも同様の指摘を受けました](http://lingr.com/room/vim/archives/2016/03/22#message-23153183)。
caw.vim 側で修正します。

[2016-03-23 16:02] tyru commented on #46
@machakann #47 でPRを出しました。`fix/dup-entries-undo_ftplugin`ブランチに切り替えて試して頂けますか？

[2016-03-23 16:13] machakann commented on #46
エラーが出なくなるのを確認しました。

ただ、これだと `after/html/caw.vim` が `b:caw_wrap_oneline_comment` を先に設定して `after/markdown/caw.vim` が読み込まれるのをブロックするので、マークダウンの場合はいいですが他の場合で問題が出そうな気がします。 `b:caw_wrap_oneline_comment` などはあとに読み込まれるものに上書かれたほうが良いのではないでしょうか？

[2016-03-23 16:24] tyru commented on #46
なるほど。ありがとうございます。修正します。

[2016-03-24 14:55] tyru commented on #46
@machakann 修正しました。

[2016-03-24 14:55] #46 closed

[2016-03-24 14:55] tyru commented on #46
master にもマージしてあります。

[2016-03-24 15:03] machakann commented on #46
ありがとうございました！

[2016-03-27 10:10] tyru opened #48 "Wrong mapping name <Plug>(caw:tildepos:toggle)"
From `help caw-faq-3`:

tilde = `~`
hat = `^`

`<Plug>(caw:tildepos:toggle)` should be `<Plug>(caw:hatpos:toggle)`.

### Reference

https://github.com/tyru/caw.vim/pull/42/commits/c4bbf7d4754446bdbcf9829a928f17bb45a1bdb7#r57526000

[2016-03-27 10:22] tyru commented on #48
Updated `Tasks`.

[2016-03-27 11:36] toshi32tony3 commented on #20
+1

visual-repeatの適用範囲がイケてないのはその通りなのですが、リピート自体は可能なので、とりあえずrhysdさんの実装で取り込んでもらえると嬉しいと思いました。

[2016-03-27 12:07] toshi32tony3 commented on #18
+1

帰ったら見てみようかな…

リピートしたい処理の最後でsilent! call repeat#set("\<Plug>(リピートしたい処理のマッピング)", 1)するだけで良いはずです...

[2016-03-27 12:58] tyru commented on #18
PR! PR!

[2016-03-27 12:59] tyru commented on #20
PR! PR!

[2016-03-27 15:47] #20 closed

[2016-03-27 15:48] tyru commented on #20
実装しました。 #50

[2016-03-27 16:14] tyru commented on #6
これは現在 `<Tab># foo` になる。

[2016-03-27 16:14] #6 closed

[2016-03-27 16:23] tyru commented on #2
Simplify comment.

[2016-03-27 17:02] tyru commented on #25
closed.

[2016-03-27 17:02] #25 closed

[2016-03-30 15:51] tyru opened #52 "Align comments"
In wrap comment:

[code]

uncomment on `loooooong` line:

[code]

wrap comments of `foo` and `bar` are aligned automatically.

ref. #5

[2016-04-08 14:00] tyru opened #53 "Branch / Label policy"
# TODO

* [x] Merge release branch (#42) (`master` will be HEAD branch and only merge PR)
  * [x] Move current PR's tasks into another issue (#58)
* [x] Delete announce label (#37)

# Reference

[GitHub branches policy in Vim plugin repository](http://tyru.hatenablog.com/entry/2016/03/28/235015)

[2016-04-08 14:04] tyru commented on #41
This plugin is not uploaded to vim.org.
Any aggressive updates are allowed I think.

[2016-04-08 14:33] tyru commented on #17
hmm, this should be necessary if #18 is implemented.
And I think this may result in unexpected case for a user.
(In this case the behavior is "expected behavior" though...)

[2016-04-08 14:33] #17 closed

[2016-04-08 14:43] #41 closed

[2016-04-08 16:25] tyru opened #56 "<Plug>(caw:box:uncomment) is missing"

[2016-04-08 18:00] tyru opened #58 "Upload to vim.org (ready for the next release)"
via #42
(#42 is PR, but I changed this repository's branch policy in #53 and deprecate release branch)

I need to write a big changelog...

- [x] ~~Write a changelog~~
- [x] ~~Update help for a new feature, and so on~~
  - This is not released to vim.org yet ...
  - [CommentAnyWay.vim](http://www.vim.org/scripts/script.php?script_id=2554) is old and another plugin
- [x] Write help for #48
  - Fixe

[2016-04-08 18:19] #53 closed

[2016-04-08 18:51] tyru commented on #18
#59 で実装しました (masterにもマージ済みです)。

[2016-04-08 19:06] tyru commented on #58
Implemented all features for an initial release.
So the only tasks are to write remaining TODO in help and to ship to vim.org.

[2016-04-09 04:37] toshi32tony3 commented on #18
帰ったら見てみようかな…

Lingrの方でコメントしてしまいましたが、範囲指定を含めてrepeatするにはこれだけじゃダメでした。

こんな対応で良いかなと思ったけどさすがにダメでした。んー。

[2016-04-09 04:41] toshi32tony3 commented on #18
例えば```gci```してコメントアウトした行の位置はmark([, ])が覚えてるけれど、その後に移動してdotrepeatすると現在のカーソル位置～markの位置に適用してしまう。3行に適用したとか、そういう単位で覚えてdotrepeatさせないといけない。

[2016-04-09 05:24] tyru commented on #18
ビジュアルモード確認してませんでした…ありがとうございます。
`repeat#set()` の第2引数に count 指定すれば行けるかと思いましたが違いますか？ (今ちょっとすぐ試せないですが)

[2016-04-09 05:33] toshi32tony3 commented on #18
↑ですが繰り返し回数指定のcountだったような気がします。確認しますね。

[2016-04-09 07:10] toshi32tony3 commented on #18
ちなみに上記はoperatorとして使ってる分には問題無いです。自分はほとんどoperatorの方しか使ってないので実質問題にはならなそう。

[2016-04-09 07:12] tyru commented on #18
あ、operator の方は最初から手を入れてません。
operator-user が勝手にやってくれるので。

[2016-04-09 07:28] toshi32tony3 commented on #18
operator-user が勝手にやってくれるので。

結果から言うと手を入れたつもりがなくても入ってしまってる状況だと思います。

operator-userの中身は読んでないのではっきりしたことは言えないのですが、やってることは```:h g@```の自分でoperatorを作るやつをより簡単に定義するものだと思います。

そこでやってるのはmotionやtext-objects指定時に設定されるmark([, ])の範囲をvisualないしlinewise-visualで囲んで指定した関数を呼び出す、みたいな具合です。

* 例
  * 今回\<Plug>(caw-wrap-toggle)をvim-repeatでdotrepeatできるようにした
  * \<Plug>(caw-operator-wrap-toggle)を呼び出した時に\<Plug>(caw-wrap-toggle

[2016-04-09 08:13] toshi32tony3 commented on #18
以下でも```gci```した時に変更位置のmark([, ])が更新されなかったので、環境の問題ではなさそうです。手元(https://github.com/toshi32tony3/caw.vim)では暫定修正コード入れたけれど上記問題が解決しないとPRできない…

[code]

[2016-04-09 10:33] toshi32tony3 commented on #18
setline()やsubstitute()あたりを使ってると変更履歴mark([, ])が更新されないので、これが原因ぽいです。

[2016-04-09 10:34] machakann commented on #18
変更位置のマークが更新されないのは `setline()` 関数か `append()` 関数で編集をしているためではないでしょうか。これらの関数は `'[`, `']` マークを更新しません。

オペレータを使った場合は対象範囲をオペレータに渡すため Vim がこれらのマークを更新しますが、オペレータ以外のマッピングだと更新されないと思います。

[2016-04-09 10:35] machakann commented on #18
かぶってしまいました、すいません。

[2016-04-09 10:37] toshi32tony3 commented on #18
いえいえ、ちょうど同じ結論に達していました。ありがとうございます。マークの更新を見て処理分岐させるしかないですかね

[2016-04-09 10:41] machakann commented on #18
‘caw#keymapping_stub()` 関数の冒頭で `context` に編集した行数を保存できませんかね？

それと、オペレータが `repeat#set()` を使うのは避けたほうがいいと思います。テキストオブジェクト/モーションが `repeat#set()` を使いたい場合にコンフリクトする恐れがあります。マイナーケースだと思いますが。

[2016-04-09 10:45] toshi32tony3 commented on #18
変更の開始行と終了行をそれぞれ保持してるみたいなので、そっち使えば解決できる話でした。とりあえず試してみます。

確かにそうですね。operatorに登録するマッピングは分けた方がよさそう

[2016-04-09 10:53] machakann commented on #18
大変な話になるかもしれないので聞き流してもらって構わないんですが、基本のキーマッピングをオペレータを使って定義することで `vim-repeat` への依存もなくドットリピートできますね。
[code]
`operator-user` への依存をなくす必要があるのですが。。。

[2016-04-09 11:08] toshi32tony3 commented on #18
あー・・・なるほど。

* operatorがvisual-repeat可能だからvim-repeatに依存する必要が無い
* 基本のキーマッピングとして存在するものはoperator化できない類のものはある？
  * 無いならそもそも要らないのでは？

これはどういうことですかね。operator-userで定義したマッピングはvisual-repeatできるので変わらないような。

[2016-04-09 11:10] machakann commented on #18
operator-user がないと caw.vim が使えなくなってしまうということが言いたかったのでした。言葉足らずでした。

[2016-04-09 11:11] toshi32tony3 commented on #18
なるほど、当たり前ですが、そうですね…

[2016-04-09 11:17] machakann commented on #18
覚えている限りでは operator-user がやっているのはマッピングの定義とカウント・レジスタをよしなに扱うことだったので、依存を切るのは難しくないと思います。ただ、それでも全体の作業は大変だと思います。

[2016-04-09 12:07] tyru commented on #18
お二人が内部に関する事まで色々議論して頂いてるのを感無量の思いで見ていました。ありがとうございます。
土日中に対応できるかは分かりませんが、PRの方も見て対応します。

[2016-04-16 15:40] #18 closed

[2016-04-16 15:49] tyru commented on #58
Updated freeze date: 2016/04/09 -> 2016/04/17 (ref #60, #61)

[2016-04-16 16:33] tyru opened #63 "Remove kana/vim-operator-user dependency"
via #18
- [x] Do not allow direct access for operator keymappings which kana/vim-operator-user provides (#64)
- [ ] Remove dependency

[2016-04-16 16:42] #37 closed

[2016-04-16 16:51] tyru opened #65 "Suport multiline comment (not box comment)"
Support multiline comment, like javadoc and C.

[code]

[code]

## Options

* start comment (e.g.: `/**`, `/*`)
* middle comment (e.g.: ` * `)
* end comment (e.g.: ` */`)
* keep start comment line blank after comment string?

[2016-04-16 16:55] tyru opened #66 "Create template comment from arguments and return value (like Eclipse's javadoc)"
For below static method,

[code]

Create template comment like below:

[code]

# Goal

- [ ] Can create template comment string
- [ ] Can also add template comment string to existing method/function comment

[2016-05-02 17:40] tyru commented on #58
hmm... vim.org seems down...
I will upload tomorrow.

[2016-05-03 15:01] tyru commented on #58
I've just uploaded to www.vim.org !
http://www.vim.org/scripts/script.php?script_id=5383

[2016-05-03 15:01] #58 closed

[2016-05-03 15:04] tyru opened #68 "Release v1.1"
https://github.com/tyru/caw.vim/issues?q=is%3Aissue+is%3Aopen+label%3Arelease%2F1.1
- [ ] Write changelog
- [ ] Update help for a new feature, and so on
- [ ] Create v1.1 tag
- [ ] Wait 2 weeks until "freeze date"
- [ ] If any problems do not occur and above tasks are all done, ship it :shipit:
  - Ship date: YYYY/MM/DD

[2016-05-03 15:13] tyru commented on #39
Like [submode.vim](https://github.com/kana/vim-submode):

1. Type "grab" mapping
1. hjkl to move comment string
1. Enter/Esc to escape "submode"

[2016-05-03 15:18] tyru opened #69 "Change comment type quickly"
Type "rotate" mapping to change comment type quickly.

# Example

In filetype=c, "rotate" mapping rotates the following comment types (including no comment string?)

## oneline

[code]

## wrap

[code]

## multiline (#65)

[code]

[2016-10-26 16:37] tyru opened #71 "Move some startup codes into autoload/caw.vim"
it is not necessary to initialize global variables.
# TODO
- [ ] Change
- [ ] Add to release note about destructive change
  - This can be destructive change for a user who supposes to refer global variables after loading `plugin/caw.vim` manually like `:runtime! plugin/caw.vim`.

[2016-10-28 12:15] tyru opened #72 "Comment/Uncomment/Toggle current comment block"
`gcc` operates on current line.
But I want current new mappings (comment, uncomment, toggle) that operates on current comment block.

A new mapping of uncomment or toggle _uncomment_ comment block when the cursor is on any line of the following text.

[code]

ref. #2

[2016-11-04 06:24] tyru commented on #72
operator & textobj ?

[2016-11-04 06:27] tyru opened #73 "'comment' submode"
#39 and #69 can be merged and it should more usable to create 'comment' submode.

ref. kana/vim-submode

[2017-01-04 01:54] tyru opened #76 "separate.vim was not updated"
#70 #74
Added filetypes are not added to `macros/separate.vim` .

[2017-01-29 08:28] #76 closed

[2017-06-04 12:02] orion46 opened #78 "Different comment format is inserted"
In some cases, different comment format is inserted. For instance, I wrote a Python code (only one line) as below:
[code]
I executed ```gci```, and then the code became
[code]

it has also happened in Ruby file. A code
[code]
became
[code]

In both case, ```:echo &ft``` taught the correct file type (i.e.  ```python``` and ```ruby```)

[2017-06-04 14:23] tyru commented on #78
1. What is your `:version` output?
1. What is caw.vim version? (`git rev-parse HEAD` output)
1. If you change a default config of caw.vim, could you tell me the config?

[2017-06-04 16:53] orion46 commented on #78
1. ```version```'s result is
[code]

2. caw.vim's SHA is f64927182e203441785239dcf4b1dcc4b39b5e3b

3. I set a config of caw.vim in dein.toml like below:
[code]
Although I removed these sentences and tried again, the problem is remained.

[2017-06-06 12:51] tyru commented on #78
Could you execute the following Ex command and tell me the output?

[code]

[2017-06-06 13:10] orion46 commented on #78
The result is
[code]

[2017-06-06 13:18] tyru commented on #78
Hmm... I can't find why it doesn't work...
could you clean-install caw.vim?

[2017-06-06 13:39] tyru commented on #78
if the problem still remain, please try the following in your shell:

1. `vim --cmd 'profile start profile.txt' --cmd 'profile! file *caw*'`
1. `:setf python`
1. insert text `print("Hello")`
1. Execute caw.vim mapping `gci`
1. `qa!`
1. Upload `profile.txt` in current directory (to github issue or gist or somewhere)

[2017-06-06 16:28] orion46 commented on #78
It doesn't work😭

Please check [profile.txt](https://gist.github.com/orion46/923cce5109d21a31b5dbef92c1b6adac).

[2017-06-06 16:56] tyru commented on #78
`after/ftplugin/python/caw.vim` doesn't appear to be sourced.
could you tell me `:echo &rtp` output?

[2017-06-06 17:06] orion46 commented on #78
The result of ```:echo &rtp``` is
[code]

[2017-06-06 17:22] tyru commented on #78
`/Users/Nobutaka/.cache/dein/.cache/init.vim/.dein/after` exists but `after/ftplugin/python/caw.vim` is not loaded?? :thinking_face:
(ah I just remeber `globpath(&rtp, ...)` could look up ftplugins)
hmm, why...

[2017-06-06 17:26] tyru commented on #78
And `/Users/Nobutaka/.cache/dein/.cache/init.vim/.dein` doesn't exist but you could load plugin/caw.vim ... 😢

[2017-06-07 01:54] Shougo commented on #78
@orion46 Please create minimal vimrc less than 50 lines.
I will try it.

[2017-06-07 05:51] orion46 commented on #78
@Shougo Thanks!
This is my simple version of  [.vimrc and dein.toml](https://gist.github.com/orion46/751a1b69a1db9b7f155c06f7af6d81b1)

[2017-06-07 06:40] Shougo commented on #78
OK.

`filetype plugin on` is needed for your vimrc.

[2017-06-07 06:41] Shougo commented on #78
It worked.

[code]

[2017-06-07 06:51] orion46 commented on #78
OMG😱
It works correctly! I'm sorry for my mistake🙇

Thank you both!

[2017-06-07 07:16] Shougo commented on #78
Closing?

[2017-06-07 07:22] orion46 commented on #78
It was my mistake, so this issue closed.

[2017-06-07 07:22] #78 closed

[2017-06-07 09:29] tyru commented on #78
There was mistake but thanks for a report!
If you had problem about caw.vim next time, feel free to open an issue.
And thanks @Shougo for your help :smile:

[2017-06-07 13:15] tyru commented on #72
@rbtnn pointed out about this in Twitter.

https://twitter.com/rbtnn/status/858040109295431680

[code]

Executing `gcc` twice in the line of `let` causes removing comment string of unintended lines.

[2017-06-07 13:15] #72 closed

[2018-05-04 15:38] kagbodji opened #80 "Support for motion commands"
Is it possible to support motion commands when commenting? Specifically, I wish to do `5gcc` to toggle comments on the next five lines. This is a feature I sorely miss from NerdCommenter My current alternative is to visually select the 5 lines, then `gcc` to comment them out; this is much slower however.

Thanks!

[2018-05-04 16:29] tyru commented on #80
This is surely missing thing,
but if you turn on `let g:caw_operator_keymappings = 1` and install `kana/vim-operator-user`,
you can do `gcc5j` to delete next 5 lines.
Do you want to do `5gcc`? or `gcc5j` is enough?

[2018-08-08 04:13] tyru opened #84 "<Plug>(caw:wrap:uncomment) does not work when a part of a line is commented out"
# Expected

Typing `<Plug>(caw:wrap:uncomment)` in comment string

[code]

results in

[code]

# Got

Typing `<Plug>(caw:wrap:uncomment)` in comment string does not change anything.

[code]

[2018-09-12 06:08] thinca opened #85 "Special behaviour for line continuation comment in Vim script"
Since v8.1.0369, Vim script supports "line continuation comment".

[code]

Normally, caw.vim makes a line `\ 'text'` into `" \ 'text'` by comment out.  But this is invalid comment.
Can we add a new rule that changes `\ 'text'` into `"\ 'text'` when a line starts with `\`  in Vim script?

[2018-09-12 06:36] tyru commented on #85
Thanks for suggestion!
Currently comment string setting is constant.
So I would like to make it variable to specify Funcref, like this.

[code]

What do you think about this?

[2018-09-12 06:38] thinca commented on #85
It looks very useful!

[2018-09-12 06:42] tyru commented on #85
Okay :)
I will implement it!

[2018-09-12 07:47] tyru commented on #85
I forgot about `caw_blank_sp` (spaces after comment), not `caw_oneline_comment`.
I implemented this in #87, would you try it?

Settings exists in after/ftplugin/vim/caw.vim already,

[code]

So line continuation comment should work without configuration.

In line 1, `gcc` results in `" echo {`.
but in line continuation (starting `\`), `gcc` results in `"\ 'foo': 42,` (no spaces after comment)

[co

[2018-09-13 08:28] #85 closed

[2018-09-13 08:28] tyru commented on #85
Merged.
Please reopen if it does not work.

[2018-09-22 06:21] ichitera opened #88 "`<Plug>(caw:zeropos:toggle)` does not work on a buffer of ft=vim"
## Issue
When `<Plug>(caw:zeropos:toggle)` was executed on a buffer of ft=vim, vim showed the following error.
[code]
![error gif](https://user-images.githubusercontent.com/31098747/45914030-efe6ca00-be79-11e8-850f-a0d5936f3401.gif)

## The way to reproduce
1. execute `vim -u vimrc -N` (the `vimrc` is attached below)
2. execute `:e some_vim_file.vim`
3. insert some text
4. type `gcc` in a line
5.

[2018-09-22 07:56] #88 closed

[2018-09-22 07:57] tyru commented on #88
Thanks!

[2018-09-22 18:15] AlexMasterov commented on #80
@tyru, same issue. 5gcc.
I'm currently using this technique: (same thing, but native?)
[code]

[2018-09-30 21:39] tyru commented on #80
ah, it needs vim-operator-user, but very neat :)

[2018-11-11 12:30] sciencesakura opened #91 "Support for JSX and TSX"
In a file whose `filetype` is `javascript`, Caw.vim uses JavaScript's style comment always.

But if the JavaScript file contains the JSX's style code snippets, then it must be distinguished between the JavaScript code and the JSX one to comment out. The examples are as follows.

Uncommented:

[code]

Commented:

[code]

or

[code]

It is the same as the TSX (JSX in TypeScript).

Thanks!

[2018-11-11 12:59] tyru commented on #91
Could you try this one?

[code]

The above setting disables oneline comment (`// foo`), so `gcc` just wrap / unwrap current line like `{/* foo */}` for `*.jsx` or `*.tsx`.
If you want to change filename extensions to apply, please edit the first two lines.

[2018-11-11 13:47] sciencesakura commented on #91
I tried it. It works to use `{/* foo */}` style comment ALWAYS. But it's wrong in JavaScript code.

[2018-11-11 14:04] tyru commented on #91
ah sorry, I misunderstood.
If you want to change comment string conditionally by the cursor position,
I want the information that caw.vim can determine JSX code or JavaScript code, like syntax highlight group.
Have you installed syntax highlight plugin for JSX?

[2018-11-11 14:12] sciencesakura commented on #91
I'm using [MaxMEllon/vim-jsx-pretty](https://github.com/MaxMEllon/vim-jsx-pretty).

[2018-11-11 14:57] tyru commented on #91
Thanks!

[2018-12-06 11:08] minusf opened #92 "uncommenting in python leaves spaces on empty lines"
how to reproduce:

select visually the body of the function, `gcc`, select it again an `gcc`.

[code]

[2018-12-21 10:20] herrbischoff opened #94 "Indentation loss on XML elements"
## Environment

[code]

## Issue

When uncommenting XML/HTML elements, caw does not restore the previous (and preserved in commented state) indentation but instead pulls all attributes to the root indent level. This cannot be expected behavior.

Additionally, wrapping comment tags appear to require the use of `gcw` and `gcuw` which I feel is rather clumsy. I'd expect `gcc` with selected lines to d

[2019-01-16 03:34] ErrEoE opened #97 "How to comment multiply line at a time?"
For example, `3gcc`  comment or uncomment 3 line.

[2019-03-30 03:44] davidosomething commented on #91
any update on this?
with the syntax plugin `neoclide/vim-jsx-improve`
I have `jsxTagName jsxTag jsxRegion`

[2019-06-13 18:42] ianpurvis opened #100 "Context filetype detection not working"
Given a single-file vue component, like `test.vue`
When I comment code in the script or style portion of the file
I expect `//` comments but I get `` html comments.

[2019-06-13 18:44] ianpurvis commented on #100
I found detection of https://github.com/Shougo/context_filetype.vim was broken, fixed in #99

[2019-06-13 19:12] #100 closed

[2019-07-25 06:19] wtsnjp opened #104 "Hatpos action doesn't behave consistent when caw_hatpos_sp="""
## Summary

When `<Plug>(caw:hatpos:toggle)` is executed under `caw_hatpos_sp=""`, it works different from when executing the same action undere `caw_hatpos_sp=" "` (the default value).

## Issue

Let me explain with a concrete example. Thinking about executing the hatpos action (`<Plug>(caw:hatpos:toggle)`) for a small Python code:

[code]

When `caw_hatpos_sp=" "`, we will get:

[code]

When `ca

[2019-08-13 09:10] wtsnjp commented on #104
I noticed that this is nothing to do with caw.vim, but just simply my setting code was wrong. For visual mode, replacing `normal ,C` part to `normal gv,C` will completely fix the problem.

Sorry for bothering you.

[2019-08-13 09:10] #104 closed

[2019-10-16 12:00] minusf opened #105 "toggle misbehaving"
Toggle does not work correctly in certain cases (python example):

[code]

Now i would like to toggle the commenting to be like this:

[code]

So i go into visual line mode and select both lines and press `gcc`. the result is:

[code]

[2019-10-23 07:55] ichitera opened #106 "Lines in a markdown buffer are not commented out"
## Issue

caw.vim do not comment out lines in a markdown buffer but creates block quote for the lines.

For example, if you call `<Plug>(caw:zeropos:toggle)` on the first line in the following markdown (a), the line becomes the markdown text (b).

**(a) Original Text:**

[code]
**Preview of (a):**

I want to comment out this line.

**(b) Unexpected Text:**

[code]

**Preview of (b):**

## What I e

[2019-12-10 08:56] Inazuma110 commented on #106
I also confirmed the same problem.

[2020-02-16 14:26] psnszsn opened #109 "Wrong comment type for html file"
I have `context_filetype.vim` installed and the html file looks like this:
[code]

Commenting works fine in the style tag and in the div tag, but once I comment the line in the script tag, commenting the div won't use the proper style of comment anymore. I expect `` html comments but I get  `//` javascript comments.

I don't think this is a `context_filetype.vim` issue, since `:echo context_filety

[2020-03-12 08:37] tyru opened #110 "Merge b:caw_wrap_oneline_comment, b:caw_wrap_multiline_comment"

[2020-03-13 08:32] tyru opened #112 "Deprecate vmock in test scripts"
Rewrite tests and architecture without mocking system.

[2020-03-13 08:54] tyru commented on #91
@sciencesakura @davidosomething could you try #111 ?

[2020-03-13 08:59] tyru commented on #109
@psnszsn could you try #111 ?

[2020-03-13 09:33] tyru commented on #106
You mean `Vim: 8.1.2200` ?

[2020-03-13 10:11] ichitera commented on #106
Yes, I mean `Vim: 8.1.2200`. I made a mistake.  I'm sorry, and I corrected the mistake.

[2020-03-13 16:57] sciencesakura commented on #91
@tyru Thanks! But a problem occurred.

my env: macOS 10.15.3 / vim 8.2.0350 installed by homebrew / context_filetype.vim ([latest](https://github.com/Shougo/context_filetype.vim/commit/f200fe69939089da9e61bd9a3ff75b4ef7adc708))

I've tried `<Plug>(caw:wrap:comment)` action when the cursor was on the JavaScript code line — not JSX one — in a `javascript` file. And then the line has been commented u

[2020-03-13 17:11] sciencesakura commented on #91
[`s:wrap_oneline.get_comments`](https://github.com/tyru/caw.vim/blob/f63268a5938c6d3ea1c095eeeb79e89e91aea168/autoload/caw/comments/wrap_oneline.vim#L14) returns `[['{/*', '*/}'], ['/*', '*/']]` that contains both JavaScript's style and JSX's one, but only a first element `['{/*', '*/}']` is used always in [`s:wrap.comment_normal`](https://github.com/tyru/caw.vim/blob/f63268a5938c6d3ea1c095eeeb79e

[2020-03-13 22:20] tyru commented on #97
@ErrEoE could you try #113 ?

[2020-03-13 22:50] tyru commented on #92
@minusf could you try #114

[2020-03-13 22:51] tyru commented on #91
@sciencesakura fixed. could you try again?

[2020-03-13 23:17] tyru commented on #94
@herrbischoff could you try #115 ?

[2020-03-13 23:33] tyru commented on #106
@ichitera @Inazuma110 Thanks for bug report. But I can't reproduce this.

What does vim output `:echo &ft` and `:verb set commentstring?`
after `2. execute :e sample.md` ?

[2020-03-13 23:38] tyru commented on #106
![caw-issue-106](https://user-images.githubusercontent.com/48169/76669477-2022ab00-65cf-11ea-89db-ba85737b4be7.gif)

[2020-03-13 23:40] #52 closed

[2020-03-13 23:41] tyru commented on #52
This makes things complicated and might cause unwanted alignment.

[2020-03-13 23:42] tyru commented on #5
This makes things complicated and might cause unwanted alignment.

[2020-03-13 23:42] #5 closed

[2020-03-14 00:14] ichitera commented on #106
Thank you for trying to reproduce the issue.
I executed `verb set commentstring?`, and I found that this issue came from [a runtime script of Vim](https://github.com/vim/vim/commit/c08ee7476b19f9b4de5df287797af87c4e3fba0a#diff-cfa570ae24a085789230fde9ace21cc2R12).
I confirmed that this issue was already solved in the latest version of Vim (version 8.2.378).

**Execution Result:**

Vim 8.1.2200:

[

[2020-03-14 00:14] #106 closed

[2020-03-14 00:27] tyru commented on #91
@sciencesakura sorry, merged to `devel` branch. please try this on the branch.

[2020-03-14 00:33] tyru commented on #97
sorry, merged to `devel` branch. please try this on the branch.

[2020-03-14 00:35] tyru commented on #92
sorry, merged to `devel` branch. please try this on the branch.

[2020-03-14 00:35] tyru commented on #94
sorry, merged to `devel` branch. please try this on the branch.

[2020-03-14 02:08] tyru commented on #109
ah, #111 doesn't solve this.

caw.vim changes `let &filetype = context_filetype#get_filetype()`
if `&filetype != context_filetype#get_filetype()`.
It causes ftplugin load like MaxMEllon/vim-jsx-pretty, and so on.

caw.vim behavior is bad because it may cause unwanted side-effect like this issue's problem.

---

Could you try `devel` branch?
It should fix this issue.

[2020-03-14 03:32] tyru commented on #84
duplicated #26

[2020-03-14 03:32] #84 closed

[2020-03-14 03:32] tyru commented on #26
Concise example (from #84)

# Expected

Typing `<Plug>(caw:wrap:uncomment)` in comment string

[code]

results in

[code]

# Got

Typing `<Plug>(caw:wrap:uncomment)` in comment string does not change anything.

[code]

[2020-03-14 03:33] tyru opened #120 "Write more tests"

[2020-03-14 03:47] tyru commented on #63
I can't remember why I thought this is necessary.

[2020-03-14 03:47] #63 closed

[2020-03-14 05:15] sciencesakura commented on #91
I tried it. Once I commented a JSX code,  JavaScript code were commented using JSX style too.

![Untitled 3](https://user-images.githubusercontent.com/27776522/76675586-24b28800-65fe-11ea-9e10-5608dccdc172.gif)

[2020-03-14 08:54] tyru commented on #106
I see. thanks.

[2020-03-15 06:14] #110 closed

[2020-03-15 06:16] tyru commented on #71
I haven't heard caw.vim is slow at startup yet.

[2020-03-15 06:16] #71 closed

[2020-03-15 06:18] tyru commented on #44
This feature interrupts users.
Users just want to comment/uncoment out, not to contribute to caw.vim.

[2020-03-15 06:18] #44 closed

[2020-03-15 06:24] tyru commented on #105
I can't decide to label this as "bug" or "enhancement".
Because it makes some users confused to make this behavior default.
I think it should have option to change multiline comment behavior.

[2020-03-15 10:26] tyru opened #121 "Wrongly uncomment inside string literal"
`wrap` and `hatpos` didn't ignore comment string inside string literal.

[code]

`<Plug>(caw:wrap:uncomment)` changes it like below:

[code]

`dollarpos` already cares `Comment` syntax group.

[2020-03-16 15:41] tyru commented on #2
## dwim toggle

[code]

TODO: customizable?

[2020-03-17 05:15] Freed-Wu opened #123 "can it provide functions like NERDCommenterSexy and NERDCommenterToEOL?"
i have noticed this plugin has many good functions which vim-commentary, nerdcomment don't have. but the function NERDCommenterSexy and NERDCommenterToEOL don't look like provided.
like
[code]

and

[code]
the cursor's postion is at the 1st ';' of the 3th line.

it is an enhancement. Thanks!

[2020-03-24 18:38] tyru opened #124 "Deprecate g:caw_zeropos_sp_blank, g:caw_zeropos_sp_blank"

[2020-03-24 21:10] tyru commented on #123
`NERDCommenterToEOL` is same as #43 behavior?
`NERDCommenterSexy` seems interesting. I'll add the feature.

[2020-03-24 21:33] #112 closed

[2020-03-24 21:33] #120 closed

[2020-03-24 21:34] tyru commented on #121
Fixed in #118

[2020-03-24 21:34] #121 closed

[2020-03-24 21:34] tyru commented on #109
Fixed in #118

[2020-03-24 21:34] #109 closed

[2020-03-24 21:34] tyru commented on #97
Fixed in #118

[2020-03-24 21:34] #97 closed

[2020-03-24 21:34] tyru commented on #94
Fixed in #118

[2020-03-24 21:34] #94 closed

[2020-03-24 21:34] tyru commented on #92
Fixed in #118

[2020-03-24 21:34] #92 closed

[2020-03-24 21:34] tyru commented on #91
Fixed in #118

[2020-03-24 21:34] #91 closed

[2020-03-24 21:35] #68 closed

[2020-03-24 21:35] tyru commented on #26
Fixed in #118

[2020-03-24 21:35] #26 closed

[2020-03-25 07:10] tyru opened #126 "Some wrong uncomment cases in filetype=vim"
## Case 1

before

[code]

after (leaves comments, `#` are removed)

[code]

## Case 2

before

[code]

after (`#` are removed)

[code]

[2020-03-25 08:27] herrbischoff commented on #94
Thanks, I didn’t have time yet to check this out. Will do so shortly and provide feedback.

[2020-03-27 07:36] tsuyoshicho opened #128 "C/C++ comment out/uncomment timing error with kana/vim-textobj-function"
2020/03/27 latest use and error happen.

Problem resolving, but my vim is complexity and does no make simple reproduction `.vimrc`.
Information suggests only.

[code]

kana/vim-textobj-function is https://github.com/kana/vim-textobj-function

kana/vim-textobj-function are set `unlet` in `b:undo_ftplugin`

https://github.com/kana/vim-textobj-function/blob/adb50f38499b1f558cbd58845e3e91117e4538cf/af

[2020-03-27 07:43] tsuyoshicho commented on #128
`b:undo_ftplugin` execute manually, need clearing in `b:undo_ftplugin` ?

[2020-03-27 13:26] tyru commented on #128
Sorry, I couldn't clearly understand what you said.
日本語でいいですよ〜

いくつか質問があるのですが、以下がちょっと曖昧で良く分かりませんでした。

* 問題は現在も再現し続けているのか？
* 以下の意味がよく分かりませんでした

[2020-03-27 13:45] tsuyoshicho commented on #128
あー、ありがとうございます。

再現はすることがありますが、契機が不明です。
出るときはコメントアウトの初回だけ出て、2回は出ません。

一番出るのは、deinのtoml内のvim script(context_filetypeでセットされる)でコメントアウトしようとするとですね、ちなみにそこで一度出ると、処理されず、再度やると出なくなりますがCのコメントアウトが発動する(以降そのまま)という...
(他でも出たときは同様になる)

b:undo_ftpluginをexecしてますが、手動でやるなら、b:undo_ftplguinをクリアしないといけないのでは?と思いました。

通常はvimがファイルタイプを変更するときに、一度除去する処理としてb:undo_ftpluginを実施して、改めてFiletypeをセットする理解です
ここで手動でb:undo_ftpluginを実施してるなら、

[2020-03-29 07:11] tsuyoshicho commented on #128
再現性の高い手順で実施できたので、結果を付けます。
(ただし自分の環境下で、ですが)

1. 以下のvim scriptを詠み込み済み(or quickrunする)

[code]

2. 以下のcファイルを読む

[code]

3. UndoCheck 後 変数を caw でアンコメント

---

結果

[code]

ここで b:textobj_function_select は kana/vim-textobj-function での定義で

https://github.com/kana/vim-textobj-function/search?q=unlet&unscoped_q=unlet

影響するのは vim/java/c だけ、と思われる

[2020-03-30 01:14] tsuyoshicho commented on #128
[code]

上記とload関数呼ぶところにメッセージを仕込みました。

[code]

caw#get_related_filetypes(a:context.filetype)

のループで呼び出しをしている様子です。

[2020-04-02 13:35] sciencesakura commented on #91
Thanks!! 😆

[2020-04-03 07:57] ichizok commented on #126
context_filetype.vim があると、autoload/caw/comments/base.vim の `s:base._get_related_ft_comments()` で `caw#load_ftplugin()` が呼ばれて
`b:undo_ftplugin` (=`VimFtpluginUndo()`) が実行されるため、`iskeyword` から `#` が落ちる。

[2020-04-04 02:15] ichizok opened #129 "Trailing comments become uncommented contrary to intensions"
行末コメントがついた行でuncommentまたはtoggleすると、行末コメントがuncommentされます。
これは大抵の場合ユーザーの意図しない動作だと思います。

eae37be より発生

vimrc
[code]

test.vim
[code]

[code]

Expected:
[code]
Actual:
[code]

`filetype=sh` 以外でも、行末コメント仕様があるfiletypeであれば同様。

[2020-04-07 03:31] tsuyoshicho commented on #128
ログコードを仕込んでみたところこうなりました。

`unlet` が `!` 付きでないのがあるとエラーとなってしまうので `silent!` にすれば正常動作するようです。
PRを作ります。

[code]

[code]

[2020-04-20 03:42] #129 closed

[2020-04-21 15:39] ichizok commented on #126
These cases should be fixed by #132 , but there is still a problem in dollarpos:uncomment.

[code]

Expected: delete whole one line

[code]

Acutal: deleted `#` and after

[code]

[2020-04-21 17:06] tyru commented on #126
@ichizok Thanks for report.

[2020-05-01 15:16] tyru commented on #126
https://github.com/tyru/caw.vim/issues/126#issuecomment-617255289

This seems context_filetype.vim related issue.
If context_filetype.vim is not on runtimepath, this doesn't happen.

[2020-05-01 16:19] #126 closed

[2020-05-01 16:19] tyru commented on #126
Fixed. #137

[2020-05-03 17:49] y1rah opened #138 "Block Comment Support | White Space After Block Comment"
There are several languages caw supports no block comments, eg:

Why don't we try:

[code]

for [viml](https://github.com/tyru/caw.vim/blob/master/after/ftplugin/vim/caw.vim).

Additionally white spaces were trailing after `gcb`.

![演示动图](https://user-images.githubusercontent.com/30183249/80921514-73340580-8da9-11ea-95a4-7ba2c1ffee1b.gif)

[2020-05-18 19:26] b3tchi opened #141 "uncomment - multiline wrap comment HTML, can't get working"
Hello, i'm trying get multilne comment's get work but i'm not successful

`<script>
  /* function test1(){
    alert('1');
  } */
</script>
<style>
  html{
    background:red;
  }
</style>
<html>
  <div>test</div>

</html>
`
If i try to uncomment wrap block `gcuw`  nothing happens same is for javascript and html.

[2020-06-28 23:51] himat commented on #100
I'm confused, I don't see `vue` in `after/ftplugin/*` in this repo.
And indeed when I try to comment an html line in a .vue file, it uses the wrong comments. The plugin uses `/* ... */` for all lines in a vue file for me.

Does this commenter actually support vue files, and if so, how do I enable that?

[2020-06-29 16:04] ianpurvis commented on #100
@himat It works, but you'll need to install the `context_filetype` plugin @ https://github.com/Shougo/context_filetype.vim

[2020-07-15 12:19] Herz3h opened #143 "Could this work with twig ?"
I've checked after/ftplugin and there is no twig support it seems. So I have then checked an example like javascript which seems to essentially be:

[code]

In twig a line could be:
[code]

and a comment is:

[code]

Is this doable with this plugin ?

Thank you.

[2020-07-21 17:16] homogulosus opened #144 "Command gc does not respect relative number"
when trying to comment several lines at the same time a motion like 3gcc will comment exactly 3 lines which does not respect the relativenumber approach. I suggest start counting from 0 as is a more common practice in computer science, then 3gcc will comment 4 lines respecting the relativenumber approach.

Thank you and great work, by the way. I stopped using vim-commentary

[2020-07-21 17:22] homogulosus opened #145 "Block comments deletes lines instead of adding them (at least in c)"
When commenting in block the behaviour is to delete two lines after the box which is a big inconvenience. The expected behaviour should be to add these lines to prevent losing work already done. I can imagine this is a big problem if the user does not notice this happening.

Again, great work. If we can solve this issues I am totally switching to caw from vim-commentary

[2020-07-31 12:06] sheerun opened #146 "No license"
Could you please add license file? Thank you!

[2020-08-01 23:52] astier commented on #146
Would be great indeed.

[2020-08-19 15:22] NFrid opened #148 "JSON "comments""
There's no comments support in JSON, but usually if you need to "comment" data you will name its key as "_key".

It'll be great if gcc command can toggle this underscore :)

[2020-09-10 15:10] lighttiger2505 opened #149 "Toggle does not work when using nvim-tree-sitter"
## To reproduce

![caw_treesitter](https://user-images.githubusercontent.com/417232/92751595-1550a380-f3c3-11ea-95b0-0f1119912e18.gif)

- Use the following vimrc

1. Execute `<Plug>(caw:hatpos:toggle)`
1. Execute `<Plug>(caw:hatpos:toggle)`

[code]

## Neovim version

[code]

## OS version

[code]

[2020-09-28 19:07] dyllandry opened #150 "Comments in vue file inconsistent after first template element"
I think I've found a bug where the style of comments change from `` to `/* */` after the first `<template>` element closes in a vue file. I've got context_filepath.vim installed. Here's an example:

[code]

[2020-10-06 07:54] mirsella commented on #150
for me it's the inverse, it work well in the template tag but not with the script or style tag :(
i tried this plugin because i thought it would work with vue file, but no, so i'll continue to use nerdcommenter since this plugins doesn't have anything more ?

[2020-11-04 17:46] #149 closed

[2020-11-22 06:41] yan42685 opened #153 "Can't comment blank line with default configuration g:caw_hatpos_skip_blank_line = 0"
![cant-commont-blank-line](https://user-images.githubusercontent.com/41834091/99897000-a94abf80-2cd0-11eb-9775-03247dbc11b4.gif)

### minimal init.vim
[code]

[2020-11-22 06:58] yan42685 opened #154 "Doesn't comment current line when lazy loading it and set remembering last cursor location"
![wrong-comment-location](https://user-images.githubusercontent.com/41834091/99897289-2c6d1500-2cd3-11eb-9196-beb69a9f9303.gif)

### minimal init.vim
[code]

[2020-12-23 08:42] yuzhen1024 opened #156 "how can i use it?"

[2020-12-23 08:55] tsuyoshicho commented on #156
I think.

See README
[How it works](https://github.com/tyru/caw.vim#how-it-works) and [help file](https://github.com/tyru/caw.vim/blob/master/doc/caw.txt)

[2020-12-23 11:50] #156 closed

[2021-01-09 03:39] hamsterBiscuit opened #158 "toggle caw error"
![image](https://user-images.githubusercontent.com/19209958/104082190-21644900-526f-11eb-90eb-0c5cfce0381d.png)
 i use neovim 5.0
input gcc error

[2021-01-09 17:43] yongqi-zhang commented on #158
![image](https://user-images.githubusercontent.com/19209958/104104727-da189f80-52e4-11eb-9c95-3137c6035e2c.png)
change lua file `tstree` to `tstree[1]`
is work for me.
i m lua new coder.
if you see is right
fix it please. thanks! @tyru

[2021-01-11 09:05] yongqi-zhang commented on #158
cool

[2021-01-22 07:11] #158 closed

[2021-01-25 05:00] tyru opened #159 "Join undo history when inserting comment"
## Problem

1. Typing `gcaTODO` to append comment at the end of line (`// TODO`)
2. Undo (`u`)
3. Comment `// ` still remains

## TODO

1. Typing `gcaTODO` to append comment at the end of line (`// TODO`)
2. Undo (`u`)
3. Comment and `TODO` is removed

[2021-01-25 05:19] tyru opened #160 "Join repeat history when inserting comment"
Related #159

## Problem

0. (repeat.vim was installed)
1. Typing `gcaTODO` to append comment at the end of line (`// TODO`)
2. Repeat (`.`)
3. Only `TODO` was inserted

## TODO

1. Typing `gcaTODO` to append comment at the end of line (`// TODO`)
2. Repeat (`.`)
3. `// TODO` is inserted

[2021-05-11 14:16] aMOPel opened #163 "weird case with context filetype"
Hi there, really nice plugin :)

i had a strange case where context filetype acted out a little with commented lines and thus i couldnt uncomment lines i just commented but instead would add comments of another filetype. (better explained with gif in the link) I made an issue https://github.com/Shougo/context_filetype.vim/issues/49 and shougo added an option to add ignore patterns for similar case

[2021-06-03 01:46] Stranger31-20190707 opened #164 "fileType=dosbatchの時、トグルとコメント解除が動作しない"
filetype=dosbatchの時、コメントの追加はできるのですが、トグル時やコメント解除時にうまく動作しませんでした。
- トグル（gcc）時： 先頭にREMがあってもREMが追加される
- 解除（gcui）時： 先頭にREMがあっても何も起きない

確認してみたところvimにおけるfiletype=dosbatchのcommentstringが「::」であるためにコメントと判定できないようです。
当該ファイルタイプのcaw.vimのコメントを'::'に変更してみたところ、「::」ではありますがトグル及びコメントの解除ができるようになりました。

[2021-06-14 22:21] AlexMasterov opened #166 ""Press Enter or type command to continue" prompt at uncomment multi lines"
Hello

I get this annoying prompt often with `javascript` filetype:

[code]
If I press `2gcc` for these lines then prompt will appear:

![image](https://user-images.githubusercontent.com/700213/121965548-ddbdc000-cd75-11eb-9fc9-820dcad0ee06.png)

`nvim --version`:
[code]

I found that disabling [`Shoujo/context_filetype.vim`](https://github.com/Shougo/context_filetype.vim) plugin solves this probl

[2021-08-19 15:29] tyru opened #167 "Use `#` instead of `"` in Vim9 script"
cc: @thinca

Ref. https://vim-jp.slack.com/archives/CLKR04BEF/p1629386264089200

[2021-08-21 05:55] tyru commented on #167
## Where Vim9 script is enabled

By @thinca

- Look up `:vim9script` at the beginning of file
- Between `:def ... :enddef`
- `command Foo { ... }`
- `autocmd BufEnter * { ... }`

[code]

[2021-08-24 16:06] Wansmer opened #169 "Incorrect comments for 'typesriptreact'"
Hello, @tyru! First, thanks for great plugin. It's very helpful.
On type 'typescriptreact' you setted `['/*', '*/']` instead `['{/*', '*/}']`.
`['/*', '*/']` call an error on `.tsx` and `.jsx` files.

<img width="361" alt="Screenshot 2021-08-24 at 19 05 24" src="https://user-images.githubusercontent.com/46977173/130651016-a82598ab-8c2c-4a79-b719-c65458ccad5f.png">

<img width="776" alt="Screenshot

[2021-09-02 07:48] obcat commented on #167
I've created a pull request #170 to add an initial support for Vim9 script.

[2021-12-02 02:41] xyz1001 opened #175 "uncomment work unexpectly when single line has multi warp comment"
## env
1. Windows 11 + Windows Terminal + WSL2 + manjaro 21.2 + neovim 0.5.1 + caw 3aefcb
2. Windows 11 + Windows Terminal + powershell + neovim 0.5.1 + caw 3aefcb

## reproduce
1. use `gcwiw` to comment multi word in single line;
2. use `gcuwiw` to uncomment any word.

## expect
the commented word under the cursor is uncommented

## got
the first commented word is uncommented.

## mininal vimrc

[2022-01-25 06:27] askfiy opened #177 "E117: Unknown function: caw#keymapping_stub"
system : manjaro
version : neovim v0.6.1

Plug 'tyru/caw.vim' + Plug 'Shougo/context_filetype.vim' , show title error, can you help me?

[2022-04-05 03:57] #177 closed

[2022-10-22 08:57] Freed-Wu opened #182 "[feature] b:caw_dollarpos_sp_left"
How about provide `b:caw_dollarpos_sp_left` for every different language?

Thanks.

[2022-10-22 10:49] Freed-Wu commented on #182
It supports, (although document don't mention it). Thanks!

[code]

[2022-10-22 10:49] #182 closed